apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: lalit1202/order-service:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8003
        env:
        - name: USER_SERVICE_URL
          value: http://user-service
        - name: PRODUCT_SERVICE_URL
          value: http://product-service
        - name: DB_HOST
          value: postgres
        - name: DB_NAME
          value: ordersdb
        - name: DB_USER
          value: orderuser
        - name: DB_PASSWORD
          value: orderpass
        readinessProbe:
          httpGet:
            path: /health
            port: 8003
          initialDelaySeconds: 5
          periodSeconds: 10
