apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: microshop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: product-service:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8002
        env:
        - name: DB_HOST
          value: product-postgres
        - name: DB_NAME
          value: productsdb
        - name: DB_USER
          value: productapp
        - name: DB_PASSWORD
          value: productpass
        readinessProbe:
          httpGet:
            path: /health
            port: 8002
          initialDelaySeconds: 5
          periodSeconds: 10
