apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-service
  namespace: microshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui-service
  template:
    metadata:
      labels:
        app: ui-service
    spec:
      containers:
      - name: ui-service
        image: lalit1202/ui-service:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8090
        env:
        - name: ORDER_SERVICE_URL
          value: http://order-service.microshop.svc.cluster.local
        readinessProbe:
          httpGet:
            path: /
            port: 8090
          initialDelaySeconds: 5
          periodSeconds: 10
